<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<dom-module id="my-experiments">
  <template>
    <paper-material elevation="1">
      <h2 class="paper-font-display2">Experiments</h2>
      <p>These are just some things that I've messed around with. Most were proof of concepts for projects that may or may not have ever happened. None of them have been tested much, if at all, in anything other than <a href="https://www.google.com/intl/en/chrome/browser/desktop/index.html">Google Chrome</a> for desktop/laptop. (Who knows? ...they might not work that well even in Chrome. Again, they're just experiments.)</p>
    </paper-material>
    <ul>
        <li>
          <span class="paper-font-body1">

          </span>
        </li>
    </ul>
  </template>
</dom-module>
