<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<dom-module id="my-item">
  <style>
    :host {
      display: block;
    }
    .featured-work-item-img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .featured-work-item-img {
      position: relative;
      display: block;
      width: 100%;
    }
    paper-material {
      width: calc(100% - 60px);
      height: calc(100% - 32px);
      padding: 10px;
    }
  </style>
  <template>
    <paper-material elevation="2" class="featured-work-item-paper">
      <div class="featured-work-item-img-wrapper">
        <p>Blah from my-item!</p>
        <!-- <img src="{{item.image_card_path}}" class="featured-work-item-img" /> -->
      </div>
    </paper-material>
  </template>
  
</dom-module>
<script src="my-item.js"></script>
