<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Lee Hunter" />
  <title>Lee Hunter</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#303F9F">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Lee Hunter">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Lee Hunter">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <link rel="import" href="/bower_components/iron-icons/editor-icons.html">
  <!-- endreplace-->

  <link rel="stylesheet" href="styles/portfolio.css">
</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <div drawer>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">

          <a data-route="home" href="/">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>
          <a data-route="experiments" href="/experiments">
            <iron-icon icon="editor:insert-chart"></iron-icon>
            <span>Experiments</span>
          </a>
          <a data-route="resume" href="/resume">
            <iron-icon icon="editor:insert-drive-file"></iron-icon>
            <span>Resume</span>
          </a>

        </paper-menu>
      </div>
      <div main>
        <paper-header-panel main mode="waterfall-tall">
          <!-- Main Toolbar -->
          <paper-toolbar id="mainToolbar">
            <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
            <span class="flex"></span>

            <!-- Toolbar icons -->
            <a href="https://twitter.com/wl_hunter" target="_blank">
              <paper-icon-button src="/images/twitter.png"></paper-icon-button>
            </a>
            <a href="https://www.linkedin.com/in/wleehunter" target="_blank">
              <paper-icon-button src="/images/linkedin.png"></paper-icon-button>
            </a>
            <a href="https://www.youtube.com/channel/UCXYSqutR2T1hzQfyyCPhLrw" target="_blank">
              <paper-icon-button src="/images/youtube.png"></paper-icon-button>
            </a>

            <!-- Application name -->
            <div class="middle paper-font-display2 app-name">Lee Hunter</div>

            <!-- Application sub title -->
            <div class="bottom title"></div>

          </paper-toolbar>

          <!-- Main Content -->
          <div class="content">
            <iron-pages attr-for-selected="data-route" selected="{{route}}">

              <section data-route="home">
                <paper-material elevation="1">
                  <my-home><my-home>
                </paper-material>
              </section>

              <section data-route="experiments">
                <my-experiments></my-experiments>
              </section>

              <section data-route="resume">
                <paper-material elevation="1">
                  
                </paper-material>
              </section>

              <section data-route="items">
                <my-item></my-item>
              </section>

            </iron-pages>
          </div>
        </paper-header-panel>
      </div>
    </paper-drawer-panel>

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="networkFirst"
                         precache-file="precache.json">
      </platinum-sw-cache>
    </platinum-sw-register>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
