<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<dom-module id="my-home">
  <template>
    <style>
      paper-material {
        margin-bottom: 32px;
        padding: 16px 30px;
      }
    </style>
    <p class="paper-font-body2">Hello, I'm Lee. I'm a Software Engineer and CS@VT alumnus living in Blacksburg, VA. Feel free to check out some of my recent work and some little side projects that I tinker around with from time to time. Thanks for stopping by and take it easy!</p>
    
    <my-list></my-list>

  </template>
</dom-module>
<script>
  (function () {
    Polymer({
      is: 'my-home'
    });
  })();
</script>