<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<dom-module id="my-list">
  <style>
    :host {
      display: block;
    }
    .work-item {
      position: relative;
      display: inline-block;
      width: 225px;
      height: 225px;
      margin: 12px;
    }
    .work-item-img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .work-item-img {
      position: relative;
      display: block;
      width: 100%;
    }
    paper-material {
      width: calc(100% - 60px);
      height: calc(100% - 32px);
      padding: 10px;
    }
  </style>
  <template>
    <div style="display:inline-flex;justify-content:center;align-items:center;flex-wrap:wrap;">
      <template is="dom-repeat" items="{{items}}">
        <div class="work-item">
          <a data-route="item" href="{{item.url}}">
            <paper-material elevation="2" class="work-item-paper">
              <div class="work-item-img-wrapper">
                <img src="{{item.image_card_path}}" class="work-item-img" />
              </div>
            </paper-material>
          </a>
        </div>
      </template>
    </div>
  </template>
  
</dom-module>
<script src="../../scripts/work-items.js"></script>
<script src="my-list.js"></script>
